<div layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="{{_('Back')}}"
       ng-click="jump_to('/comment/groups')">
        <md-icon md-svg-icon="ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2>
        <span>{{ _('Comments') }}</span>
      </h2>
      <span flex></span>
      <ng-include src="'blueprints/comment/views/menu.tmpl.html'" 
       ng-controller="menuCtrl"></ng-include>
    </div>
  </md-toolbar>
  <div class="md-padding">
    
    <md-list>
      <md-list-item class="" ng-click=""
       ng-repeat="comment in comments">
        <md-checkbox ng-check="exists(comment, selected)" 
         ng-click="toggle(comment, selected)"></md-checkbox>
        <div class="md-list-item-text">
          <h3>{{comment.author_name}}</h3>
          <p>{{ _('Create Time:') }} {{comment.creation | dateformat}}</p>
          <p>{{comment.content}}</p>
        </div>
      </md-list-item>
    </md-list>
    
    <md-button class="md-fab md-accent md-fab-bottom-right fixed"
     ng-disabled="disabled()" ng-click="removeBatchComment()">
      Del
    </md-button>
    
  </div>
</div>