<div layout="column">
  <md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="{{_('Back')}}"
       ng-click="jump_to('/newsletter/posts')" ng-disabled="true">
        <md-icon md-svg-icon="ic_arrow_back_24px"></md-icon>
      </md-button>
      <h2>
        <span>{{ _('Groups') }}</span>
      </h2>
      <span flex></span>
      <ng-include src="'blueprints/comment/views/menu.tmpl.html'"
       ng-controller="menuCtrl"></ng-include>
    </div>
  </md-toolbar>
  <div class="md-padding">

    <md-list>
      <md-list-item class="md-2-line"
       ng-click="jump_to('/comment/groups/' + group.id)"
       ng-repeat="group in groups">
        <md-icon md-svg-icon="" aria-label="android "></md-icon>
        <div class="md-list-item-text">
          <h3>{{group.group_key}}</h3>
          <p>{{ _('Latest Update:') }} {{group.update | dateformat}}</p>
        </div>
      </md-list-item>
    </md-list>

  </div>
</div>