<div layout="row" layout-sm="column" layout-margin layout-padding>
  <div flex>
    <h2 class="md-title ng-binding">
      <md-button ng-disabled="true" class="md-primary">Settings</md-button>
      <md-button ng-click="jumpTo('/admin/group')">Groups</md-button>
    </h2>
    <form name="CommentSettings" ng-submit="save()">
      <md-input-container class="md-block">
        <label>Title</label>
        <input ng-model="settings.title">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Allowed Origin</label>
        <input ng-model="settings.allowed_origins">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Style</label>
        <input ng-model="settings.style">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Thumbnail</label>
        <input ng-model="settings.thumbnail">
      </md-input-container>
      <div flex>
        <md-checkbox ng-model="settings.require_login">
          Only logged-in member can comment
        </md-chceckbox>
      </div>
      <div flex>
        <md-button class="md-raised md-primary" 
         type="submit">Submit</md-button>
      </div>
    </form>
  </div>
</div>