<div layout="column" flex layout-margin layout-padding>
  <h2 flex class="md-title ng-binding">Group: {{group_id}}</h2>
  <md-list>
    <md-list-item class="" ng-click=""
     ng-repeat="comment in comments">
      <md-checkbox ng-check="exists(comment, selected)" 
       ng-click="toggle(comment, selected)"></md-checkbox>
      <div class="md-list-item-text">
        <h3>{{comment.author_name}}</h3>
        <p>Create Time: {{comment.creation | dateformat}}</p>
        <p>{{comment.content}}</p>
      </div>
    </md-list-item>
  </md-list>
  <md-button class="md-fab md-accent md-fab-bottom-right fixed"
   ng-disabled="disabled()" ng-click="removeBatchComment()">
    Del
  </md-button>
</div>
