<div layout="row" layout-sm="column" layout-margin layout-padding>
  <div flex>
    <h2 class="md-title ng-binding">Generate Code</h2>
    <form name="CommentSettings" ng-submit="save()">
      <md-input-container class="md-block">
        <label>Group Key</label>
        <input ng-model="group_key">
      </md-input-container>
      <div flex>
        <md-button class="md-raised md-primary" 
         ng-click="generateCode()">Generate</md-button>
      </div>
      <md-input-container class="md-block">
        <label>Copy the JavaScript Code into Your Website</label>
        <textarea ng-model="code" columns="1" rows="5" disabled></textarea>
      </md-input-container>
    </form>
  </div>
</div>