<div flex layout-margin layout-padding>
  <h2 class="md-title ng-binding">Groups</h2>
  <md-list>
    <md-list-item class="md-2-line"
     ng-click="jumpTo('/admin/group/' + group.group_key + '/comment')"
     ng-repeat="group in groups">
      <md-icon md-svg-icon="" aria-label="android "></md-icon>
      <div class="md-list-item-text">
        <h3>{{group.group_key}}</h3>
        <p>Latest Update: {{group.update | dateformat}}</p>
      </div>
    </md-list-item>
  </md-list>
  <div layout="row">
    <md-input-container class="md-block">
      <label>GroupKey</label>
      <input ng-model="newGroup.group_key">
    </md-input-container>
    <md-imput-container>
      <md-button class="md-raised md-primary" 
       ng-click="addCommentGroup()">ADD</md-button>
    </md-input-container>
  </div>
</div>