<md-toolbar class="md-menu-toolbar">
  <div class="layout-row">
    <md-toolbar-filler layout layout-aligin="center center">
      <md-icon md-svg-icon="call:chat"></md-icon>
    </md-toolbar-filler>
    <div>
      <h2 class="md-toolbar-tools">Comment Management</h2>
      <md-menu-bar>
        <button class="md-button md-ink-ripple" ng-click="">Settings</button>
        <button class="md-button md-ink-ripple" ng-click="jumpToGroups()">Manage Groups</button>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>
</div>
<div layout="column">
<md-content class="layout-padding">
  <form name="commentExtensionForm">
    <md-input-container class="md-block">
      <label>Title</label>
      <input ng-model="comment_extension.title">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Allowed Origin</label>
      <input ng-model="comment_extension.allowed_origin">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Style</label>
      <input ng-model="comment_extension.style">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Thumbnail</label>
      <input ng-model="comment_extension.thumbnail">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Copy the JavaScript code</label>
      <input ng-model="comment_extension.thumbnail">
    </md-input-container>
    <div layout="row" layout-align="end center">
      <md-checkbox ng-model="comment_extension.require_login">Only logged-in member can comment</md-chceckbox>
      <md-button class="md-raised md-primary" ng-click="updateCommentExtension()">Submit</md-button>
    </div>
  </form>
</md-content>