<md-toolbar class="md-theme-light" layout="row">
  <h2 class="md-toolbar-tools">
    <span>Comment Groups</span>
  </h2>
  <button class="md-button md-ink-ripple" aria-label="Go Back" ng-click="jumpToIndex()">
    <span class="ng-scope">
          Go Back
    </span>
    <div class="md-ripple-container"></div>
  </button>
</md-toolbar>

<md-content>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="group in groups">
      <div class="md-list-item-text">
        <h3>{{ group.group_key }}</h3>
        <h4>{{ group.creation }}</h4>
      </div>
      <md-button class="md-secondary" md-ink-ripple>
        <span class="ng-scope">go there</span>
        <div class="md-ripplecontainer"></div>
      </md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>